#
# SPDX-FileCopyrightText: The LineageOS Project
# SPDX-License-Identifier: Apache-2.0
#

on post-fs-data
    # Audio HAL feedback
    chown media media /proc/mm_fb

on property:ro.boot.prjname=*
    # Display
    setprop ro.separate.soft ${ro.boot.prjname}

on property:sys.boot_completed=1
    # Widevine
    copy /vendor/etc/oplus_Widevine_licenses.pfm /mnt/vendor/persist/data/pfm/licenses/oplus_Widevine_licenses.pfm
    chmod 0600 /mnt/vendor/persist/data/pfm/licenses/oplus_Widevine_licenses.pfm
    chown system system /mnt/vendor/persist/data/pfm/licenses/oplus_Widevine_licenses.pfm
